.home_img-contain{
    width: 100%;
    display: flex;
justify-content: center;
margin-top: 7rem;
margin-bottom: 2.5rem;
}

.home_img{
    max-width: 600px;
    place-self: center;
    text-align: center;
    }

.home_greeting{
color: #FE1936;
text-align: center;
font-size: 3rem;
padding: 0 1rem;
}

.home_paragraph{
    text-align: center;
    font-size: 1.5rem;
  padding: 0 1rem;
  margin-bottom: 2.2rem;
}

.home_footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer_color-red{
width: 100%;
height: 45px ;
background-color: red;
}

.footer_color-black{
width: 100%;
height: 30px;
background-color: black;
}

.footer_circles-contain{
width: 100%;
display: flex;
justify-content: center;
position: fixed;
z-index: 10;
left: 0;
bottom: 0;
}

.footer_circle-white{
    width: 55px;
    aspect-ratio: 1;
 background-color: white;
 border-radius: 50%;
 border: 5px solid black;
 position: relative;
}

.footer_circle-gray{
    width: 30px;
    aspect-ratio: 1;
    background-color: rgb(44, 44, 44)
    ;
    border-radius: 50%;
    border: 5px solid black;
      z-index: 20;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

