.pokedexById_contain {
    width: 100%;
    max-width: 1200px;
    margin: 14rem  auto 0 auto;
    display: grid;
    padding: 0 1rem 1rem 1rem;
    justify-content: center;
}

.pokedexById_header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

.header_img{
    position: fixed;
    max-width: 200px;
    top: 12px;
    left: 50px;
}
.header_color-red {
    width: 100%;
    height: 45px;
    background-color: red;
}

.header_color-black {
    width: 100%;
    height: 30px;
    background-color: black;
}

.header_circles-contain {
    position: fixed;
    z-index: 10;
    right: 50px;
    top: 30px;
}

.header_circle-white {
    width: 55px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
}

.header_circle-gray {
    width: 30px;
    aspect-ratio: 1;
    background-color: rgb(44, 44, 44)
    ;
    border-radius: 50%;
    border: 5px solid black;
      z-index: 20;
      position: absolute;
      transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.pokedexById_info {
    width: 100%;
    border: 1px solid rgba(26, 23, 23, 0.212);
    border-top: none;
    margin: 0 auto;
    padding-bottom: 1rem;
    position: relative;
}

.pokedexById-backgroundType {
    width: 100%;
    border: none;
    height: 100px;
}

.pokedexByID_img-contain {
    width: 100%;
    z-index: 20;
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokedexById_img {
    width: 200px;
    margin: auto
}

.pokedexById_title {
    display: grid;
    margin-top: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    font-size: 2.2rem;
    border: none;
    background: none;
}

.pokedexByID_list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.pokedexByID_item {
    display: grid;
}

.pokedexByID_item-title {
    font-weight: 300;
    text-align: center;
}

.pokedexByID_item-value {
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}