.stats_section{
    width: 100%;
    padding: 0 1rem;
    margin-top: 3rem;
    }

.stats_title{
    font-size: 1.8rem;
margin-bottom: 1.5rem;
}

.stats_title-item{
margin-bottom: 0.5rem;
}

.stats_bar-contain{
    display: flex;
    justify-content: space-between;
}

.stats_bar{
height: 17px;
background: linear-gradient(to right, rgba(240,226,136,1) 0%, rgba(214,206,50,1) 50%, rgba(240,160,0,1) 100%);
margin-bottom: 1rem;
}

.stats_bar-value{
font-weight: 500;
}