
.inputPokedex_form-contain{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    align-self: center;
}

@media (min-width: 630px){
    .inputPokedex_form-contain{
        padding-left: 1rem;
        padding-right: 0;
        align-self: none;
    }
}

.inputPokedex_form{
   display: flex;
   height: 30px;
   position: relative;

   
}

.inputPokedex_form-input{
    height: 35px;
   width: 300px;
    box-shadow: 2px 2px 1px black;
    border-radius: 0.5rem 0 0 0.5rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    border: none;
   
}

.react-autosuggest__suggestions-container {
   width: 300px;
   max-height: 200px;
background-color: white;
    text-align: center;
    z-index: 100;
    position: absolute;
top: 29px;
cursor: pointer;
margin-top: 0;
border: none;
font-size: 1.2rem;
overflow-y: scroll;
}

.inputPokedex_form-button{
    padding: 0.2rem 1.3rem 2rem 1.3rem;
    background-color: #D93F3F;
    border: none;
    box-shadow: 2px 2px 2px black;
border-radius: 0 0.5rem 0.5rem 0;
font-size: 1.2rem;
color: white;
/* max-height: 40px; */
}