
.inputPokedex_form-contain{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}

@media (min-width: 500px){
    .inputPokedex_form-contain{
        padding-left: 1rem;
        padding-right: 0;
    }
}

.inputPokedex_form{
   height: 30px;
   display: flex;
}

.inputPokedex_form-input{
    padding: 0.2rem 1.3rem 2rem 1.3rem;
    width: 100%;
    max-width: 450px;
    min-width: 170px;
    border: none;
    box-shadow: 2px 2px 2px black;
    border-radius: 0.5rem 0 0 0.5rem;
    font-size: 1.2rem;
}

.inputPokedex_form-button{
    padding: 0.2rem 1.3rem 2rem 1.3rem;
    background-color: #D93F3F;
    border: none;
    box-shadow: 2px 2px 2px black;
border-radius: 0 0.5rem 0.5rem 0;
font-size: 1.2rem;
color: white;
}